*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz


*.xml
.DS_Store
.project
.strong-pm
coverage
.yo-rc.json
.eslintrc
node_modules
.packagemd5
.vscodes
.history
.loggly-config-md5
adminConfig/
dist

package-lock.json
yarn.lock
.vscode/
pnpm-lock.yaml
src/.env
